*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('San Francisco Pro Display Regular'), local('San-Francisco-Pro-Display-Regular'),
      url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
      url('../fonts/SFProDisplay-Regular.woff') format('woff'),
      url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  padding-top: 44px;
}
.container{
  max-width: 1200px;
  margin: auto;
}
.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main{
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}
.input{
  padding: 8px;
  font-weight: normal;
  background: #fff;
  border: 1px solid #d9d9d9;
  font-family: 'SF Pro Display';
  border-radius: 2px;
  font-size: 16px;
  line-height: 24px;
  padding-left: 35px;
}
.input-address {
  flex: 0.8;
  background: url(../img/home.svg) left 11px center no-repeat;
}
.input-search{
  background: url(../img/search.svg) left 11px center no-repeat;
  width: 300px;
  margin-right: auto;
}
.buttons {
  display: flex;
  align-items: center;
}
.button {
  font-family: 'SF Pro Display';
  font-weight: normal;
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid #d9d9d9;
  box-sizing: 0 0 2px rgba(0, 0, 0, 0.0015);
  border-radius: 2px;
  background-color: #fff;
  color: #595955;
  font-size: 16px;
  line-height: 24px;
  display: flex;
}
.button-primory{
  background: #1890ff;
  color: #fff;
  border: 1px solid #1890ff;
  margin-right: 10px;
}
.button-icon{
  vertical-align: middle;
  margin-right: 6px;
}
.button-text{
  vertical-align: middle;
}
.button-card-text{
  margin-right: 10px;
}

.promo{
  padding: 68px 70px;
  box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
  background: #FFF1B8 url(../img/promo-image.png) no-repeat center right -200px;
  border-radius: 10px;
  margin-bottom: 56px;
}
.promo-title{
  margin: 0;
  font-size: 39px;
  line-height: 46px;
  color: #302C34;
  margin-bottom: 15px;
}
.promo-text{
  font-size: 24px;
  line-height: 28px;
  color: #302C34;
}

.section-heading{
  display: flex;
  align-items: center;
  margin-bottom: 44px;
}

.section-title{
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #000;
  margin: 0;
  margin-right: 30px;
}
.cards{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card{
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 30px;
  flex-basis: 31%;
  text-decoration: none;
}
.card-image{
  width: 384px;
  height: 250px;
  object-fit: cover;
}
.card-text{
  padding: 20px 23px 35px 23px;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}
.card-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-title{
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}
.card-title-reg{
  font-weight: normal;
}
.card-tag{
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  background: #262626;
  border-radius: 2px;
  padding: 1px 8px;
}

.card-info{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.card-buttons{
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.card-price-bold{
  margin-left: 32px;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
}
.rating{
  margin-right: 26px;
  color: #ffc107;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
}
.price, .category{
  color: #8c8c8c;
  font-size: 18px;
  line-height: 32px;
}
.price{
  margin-right: 10px;
}
.price::after{
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #8c8c8c;
  vertical-align: middle;
  margin-left: 10px;
}
.ingredients{
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #8C8C8C;
  margin-top: 10px;
}
.category{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 150px;
}
.footer {
  padding: 60px 0;
}
.footer-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-nav {
  margin-left: 35px;
  margin-right: auto;
}
.footer-link {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: inline-block;
  color: #595955;
  text-decoration: none;
}
.footer-link:not(:last-child){
  margin-right: 15px;
}

.social-link {
  display: flex;
  align-items: center;
}
.social-link:not(:last-child){
  margin-right: 21px;
}

.modal{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}
.is-open{
  display: flex;
}
.modal-dialog{
  max-width: 780px;
  width: 95%;
  background-color: #fff;
  border-radius: 5px;
  margin: auto;
  padding: 40px 45px; 
}
.modal-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}
.modal-title{
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}
.modal-close{
  cursor: pointer;
  font-size: 36px;
  border: none;
  background-color: transparent;
}
.modal-body{
  margin-bottom: 52px;
}
.food-row{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom:  15px;
}
.food-name{
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
}
.food-price{
  margin-left: auto;
  margin-right: 47px;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
}
.food-counter{
  display: flex;
  align-items: center;
}
.counter-button{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 39px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #40a9ff;
  border-radius: 2px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #40a9ff;
}
.counter{
  font-size: 16px;
  line-height: 24px;
  margin-left: 10px;
  margin-right: 10px;
}
.modal-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-buttons{
  display: flex;
  align-items: center;
}
.modal-pricetag{
  padding: 15px 20px;
  background-color: #262626;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  line-height: 23px;
}
@media (max-width: 1366px){
  .container{
    max-width: 960px;
  }
  .rating{
    margin-right: 15px;
  }
  .category .price{
    font-size: 14px;
  }
}
@media (max-width: 992px){
  .container{
    max-width: 750px;
  }
  .promo{
    padding: 50px;
    background-size: 800px;
    background-position-x:  200px;
  }
  .promo-title{
    font-size: 32px;
    line-height: 38px;
  }
  .promo-text{
    font-size: 18px;
    max-width: 400px;
  }
  .card{
    flex-basis: 49%;
  }
  .footer-link{
    font-size: 16px;
  }
}

@media (max-width: 768px){
  .container{
    max-width: 560px;
  }
  .card-info{
    flex-wrap: wrap;
  }
  .card .rating{
    flex-basis: 100%;
  }
  .card-title{
    font-size: 18px;
  }
}

@media (max-width: 578px){
  .container{
    width: 90%;
  }
  .header{
    flex-wrap: wrap;
  }
  .input-address{
    margin-top: 15px;
    order: 1;
    flex-basis: 100%;
  }
  .section-title{
    font-size: 20px;
  }
  .card{
    flex-basis: 100%;
  }
  .card-image{
    width: 100%;
  }
  .footer-nav{
    display: flex;
    flex-direction: column;
    order: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .footer-logo{
    margin-right: 15px;
    order: 1;
  }
  .social-link{
    order: 2;
  }
  .footer{
    padding: 30px 0;
  }
  .footer-block{
    align-items: flex-start;
  }
}
@media (max-width: 480px){
  .button-text{
    display: none;
  }
  .button-icon{
    margin: 0;
  }
  .promo{
    padding: 20px;
  }
  .section-heading{
    flex-wrap: wrap;
  }
  .footer-block{
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .footer-logo{
    margin-bottom: 20px;
    order: 0;
  }
  .footer-nav{
    margin-bottom: 20px;
    text-align: center;
  }
  .footer-link:not(:last-child){
    margin-right: 0;
  }
}